body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    animation: changeColor 20s infinite;
    animation-direction: alternate;
}

@keyframes changeColor {
    0% {
        background-color: indianred;
    }

    20% {
        background-color: orange;
    }
    
    40% {
        background-color: yellow;
    }
    
    60% {
        background-color: lightgreen;
    }
    
    80% {
        background-color: deepskyblue;
    }
    
    100% {
        background-color: mediumvioletred;
    }
}

.start-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}


.start-button::after {
    content: 'Start';
}

.stop-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}

.reset-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}

.stop-button::after {
    content: 'Stop';
}


p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
}
